page-details-filme {

    .toolbar-md-secondary .bar-button-clear-md, 
    .toolbar-md-secondary .bar-button-default-md, 
    .toolbar-md-secondary .bar-button-outline-md, 
    .toolbar-md-secondary .toolbar-title-md {
        color: #79CDCD;
    }

    .content-md{
        color: #e8e8e8;
        background-color: #000000;
    }

    .content-md hr {
        background-color: #e8e8e8;
    }

    .right{
        float: right!important;
    }

    .btn{
        background-color: transparent;
        //border-left: solid 1px #B5B5B5;
        //border-top: solid 1px #B5B5B5;
        //border-right: solid 1px #B5B5B5;
        //border-bottom: solid 1px #B5B5B5;
        border-radius: 15%;
        color: #B5B5B5;
    }

    .p-0{
        margin: 0;
    }

    .color-line{
        background-color: #B5B5B5;
    }

    .pt-0{
        margin-top: 0;
    }

    .flag {
        width: 30px;
    }

    .p-1{
        padding: 10px;
    }

    .img {
        width: 188px;
    }

    .align{
        text-align: justify;
    }

    .foto{
        width: 70px;
        height: 95px;
    }

    .nome-at {
        font-size: 12px;
        margin: 2px 0;
        width: 70px;
        height: 28px;
        padding-left: 5px;
    }

    .ativ-at{
        font-size: 10px;
        margin: 2px 0 2px 0;
        width: 90px;
        padding-left: 5px;
    }

    .inner{
        width: 2000px;
        height: 100%;
        ion-card{
            display: table-cell;
        }
    } 

    .list-header-md {
        margin-bottom: 0;
        background-color: #000;
        margin-top: 10px;
        border-bottom: 1px solid #828282;
        color: #dedede
    }

    .btn-apagar{
        background-color: transparent;
        color: #dedede;
        font-size: 12px;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .alert-md .alert-wrapper {
        background-color: #363636;
        color: #B5B5B5;
    }
}
