page-details-filme {

    .toolbar-md-secondary .bar-button-clear-md, 
    .toolbar-md-secondary .bar-button-default-md, 
    .toolbar-md-secondary .bar-button-outline-md, 
    .toolbar-md-secondary .toolbar-title-md {
        color: #79CDCD;
    }

    .content-md{
        color: #e8e8e8;
        background-color: #000000;
    }

    .content-md hr {
        background-color: #e8e8e8;
    }

    .p-0{
        margin: 0;
    }

    .color-line{
        background-color: #B5B5B5;
    }

    .pt-0{
        margin-top: 0;
    }

    .flag {
        width: 30px;
    }

    .p-1{
        padding: 10px;
    }

    .img {
        width: 188px;
    }

    .align{
        text-align: justify;
    }

    .btn{
        border-left: solid 3px #117a8b;
        border-top: solid 1px #e8e8e8;
        border-right: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
    }

}
