<ion-header>
  <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Detalhe do Filme</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list class="p-1">

    <h3>{{filme.filme}}</h3>
    <p>{{filme.titulo_original}}</p>
    <hr class="color-line" />
    <ion-row>
      <ion-col>
        <p class="p-0"><img class="img" src="{{filme.cartaz}}" /></p>
      </ion-col>
      <ion-col>
        <p class="pt-0">{{filme.lancamento}}</p>
        <p><img class="flag" src="assets/ban_pais/{{filme.pais.sigla}}.png" /></p>
        <p>{{filme.pais.pais}}</p>
        <p>{{filme.idioma.idioma}} ({{filme.idioma.sigla}})</p>
        <p>{{filme.distribuidor}}</p>
        <p>{{filme.genero}}</p>
        <p>{{filme.duracao}}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <p class="p-0 align">{{filme.sinopse}}</p>
    </ion-row>

    <ion-list>
      <ion-list-header>
        Elenco <button class="btn right" (click)="goToElenco(filme)">adicionar</button>
      </ion-list-header>

      <ion-scroll scrollX="true" style="height:180px">
      <ion-row nowrap>
        <div *ngFor="let a of artistas | async">
          <div *ngFor="let e of elenco | async">
            <ion-col *ngIf="a.key === e.artista_key && filme.key === e.producao_key">
              <img class="foto" src="{{a.foto}}" />
              <p class="nome-at">{{a.nome}}</p>
              <p class="ativ-at">{{e.atividade}}</p>
            </ion-col>
          </div>
        </div>
      </ion-row>
      </ion-scroll>

      <hr class="color-line" />

    </ion-list>
</ion-list>

<ion-fab top right edge>
  <button ion-fab (click)="goToEditar(filme)" color="secondary" mini>
    <ion-icon name="create"></ion-icon>
  </button>
</ion-fab>

</ion-content>
