page-foto-artista {

    .toolbar-md-secondary .bar-button-clear-md, 
    .toolbar-md-secondary .bar-button-default-md, 
    .toolbar-md-secondary .bar-button-outline-md, 
    .toolbar-md-secondary .toolbar-title-md {
        color: #79CDCD;
    }

    .img-view {
        text-align: center;
        width: 150px;
    }

    .btn{
        margin: 10px 0;
    }

}
