<ion-header>
  <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Detalhe da Série</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list class="p-1">

    <h3>{{serie.serie}}</h3>
    <p>{{serie.titulo_original}}</p>
    <hr class="color-hr" />
    <ion-row>
      <ion-col>
        <img class="img" src="{{serie.cartaz}}" />
      </ion-col>      
      <ion-col>
        <p>{{serie.pais.pais}}</p>
        <p>{{serie.idioma.idioma}} ({{serie.idioma.sigla}})</p>
        <p>{{serie.distribuidor}}</p>
        <p>{{serie.genero}}</p>
      </ion-col>
      <ion-col>
        <p class="right"><img class="flag" src="assets/ban_pais/{{serie.pais.sigla}}.png" /></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><p class="txt">{{serie.sinopse}}</p></ion-col>
    </ion-row>

    <ion-list>
        <ion-list-header>
          Elenco <button class="btn right" (click)="goToElenco(serie)">adicionar</button>
        </ion-list-header>
  
        <ion-scroll scrollX="true" style="height:180px">
        <ion-row nowrap>
          <div *ngFor="let a of artistas | async">
            <div *ngFor="let e of elenco | async">
              <ion-col *ngIf="a.key === e.artista_key && serie.key === e.producao_key">
                <img class="foto" src="{{a.foto}}" />
                <p class="nome-at"><button class="btn-apagar" (click)="showConfirm(e)">{{a.nome}}</button></p>
                <p class="ativ-at">{{e.atividade}}</p>
              </ion-col>
            </div>
          </div>
        </ion-row>
        </ion-scroll>
  
        <hr class="color-line" />
  
      </ion-list>

    <ion-list>
      <ion-list-header>
        Temporadas <button class="btn right" (click)="goToTemporada(serie)">adicionar</button>
      </ion-list-header>

      <div *ngFor="let t of temporadas | async">
        <div *ngIf="t.serie_key === serie.key">
          <ion-item>
            <ion-row>
              <ion-col>
                <p class="pt-0"><button class="btn" (click)="goToEditTemporada(t)">{{t.temporada}}</button>
                <span class="right">{{t.lancamento}}</span></p>        
                  <div *ngFor="let e of episodios | async">
                    <p *ngIf="t.key === e.temporada_key">
                      <ion-item class="eps">
                        <ion-row>
                          <ion-col col-2><button class="btn" (click)="goToEditEpisodio(e)">{{e.episodio}}</button></ion-col>
                          <ion-col col-8>{{e.titulo}}</ion-col>
                          <ion-col col-2><span class="right">{{e.duracao}}</span></ion-col>
                        </ion-row>
                      </ion-item>
                    </p>
                  </div> 
                <div class="m-1">
                  <button class="btn right" (click)="goToEpisodio(t)">adicionar episódio</button>
                </div>                                       
              </ion-col>
            </ion-row>
          </ion-item>
        </div>
      </div>
    </ion-list>
 
  </ion-list>

  <ion-fab top right edge>
    <button ion-fab (click)="goToEditSerie(serie)" color="secondary" mini>
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>