page-details-serie {

    .toolbar-md-secondary .bar-button-clear-md, 
    .toolbar-md-secondary .bar-button-default-md, 
    .toolbar-md-secondary .bar-button-outline-md, 
    .toolbar-md-secondary .toolbar-title-md {
        color: #79CDCD;
    }

    .content-md{
        color: #e8e8e8;
        background-color: #000000;
    }

    .right{
        float: right!important;
    }

    .btn{
        background-color: transparent;
        border-left: solid 1px #B5B5B5;
        border-top: solid 1px #B5B5B5;
        border-right: solid 1px #B5B5B5;
        border-bottom: solid 1px #B5B5B5;
        border-radius: 15%;
        color: #B5B5B5;
    }

    ion-label{
        color: #e8e8e8;
    }

    .list-header-md{
        margin-bottom: 0;
    }

    .label-md {
        margin: 8px 8px 8px 0;
    }

    .item-md {
        background-color: transparent;
        padding-right: 16px;        
    }

    .item-md p {
        color: #e8e8e8;
    }

    .p-0{
        margin: 0;
    }

    .pt-0{
        margin-top: 0;
    }

    .flag {
        width: 30px;
    }

    .p-1{
        padding: 10px;
    }

    .img {
        width: 188px;
    }

    .align{
        text-align: justify;
    }

    .txt {
        text-align: justify;
        margin: 0;
    }

}
