<ion-header>
  <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Detalhe da Série</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list class="p-1">

    <h3>{{serie.serie}}</h3>
    <p>{{serie.titulo_original}}</p>
    <hr />
    <ion-row>
      <ion-col col-2>
        <p><img class="img-flag" src="assets/ban_pais/{{serie.pais.sigla}}.gif" /></p>
      </ion-col>
      <ion-col col-9>
        <p>{{serie.pais.pais}}</p>
        <p>{{serie.idioma.idioma}} ({{serie.idioma.sigla}})</p>
        <p>{{serie.distribuidor}}</p>
        <p>{{serie.genero}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><p class="txt">{{serie.sinopse}}</p></ion-col>
    </ion-row>

    <ion-list>
      <ion-list-header>
        Temporadas <button class="btn right" (click)="goToTemporada(serie)"><ion-icon name="add"></ion-icon></button>
      </ion-list-header>
      
      <div *ngFor="let t of temporadas | async">
        <div *ngIf="t.serie_key === serie.key">
          <ion-item>
            <ion-row>
              <ion-col>
                <p class="pt-0">{{t.temporada}}
                <span class="right">{{t.lancamento}}</span></p>
              </ion-col>
            </ion-row>
            <!--<ion-row>
              <div *ngFor="let e of t.episodios">
                <p>
                  <ion-row>
                    <ion-col>{{e.episodio}}</ion-col>
                    <ion-col>{{e.titulo}}</ion-col>
                    <ion-col>{{e.data}}</ion-col>
                    <ion-col>{{e.duracao}}</ion-col>
                  </ion-row>
                </p>
              </div>
            </ion-row>-->
          </ion-item>
        </div>
      </div>
    </ion-list>
 
  </ion-list>

</ion-content>