page-series {

    .toolbar-md-secondary .bar-button-clear-md, 
    .toolbar-md-secondary .bar-button-default-md, 
    .toolbar-md-secondary .bar-button-outline-md, 
    .toolbar-md-secondary .toolbar-title-md {
        color: #79CDCD;
    }

    .content-md{
        color: #e8e8e8;
        background-color: #000000;
    }

    .list-md ion-item-sliding {
        background-color: #000
    }

    .item-md{
        padding-right: 16px;
    }

    .content-md hr {
        background-color: #e8e8e8;
    }

    ion-item-sliding .item {
        background-color: #000;
        color: #e8e8e8;
    }

    .color-txt{
        color: #e8e8e8;
    }

    .align{
        display: grid;
        align-items: center;
        text-align: center;
    }

    .btn {
        background-color: transparent;
        margin: 0;
        padding: 0;
        color: #e8e8e8;
    }

    .icon{
        font-size: 30px;
    }
    
}
