page-ins-serie {

    .toolbar-md-secondary .bar-button-clear-md, 
    .toolbar-md-secondary .bar-button-default-md, 
    .toolbar-md-secondary .bar-button-outline-md, 
    .toolbar-md-secondary .toolbar-title-md {
        color: #79CDCD;
    }

    .card-content-md {
        padding: 0;
    }
    
    .lbl {
        background-color: #e8e8e8;
        font-size: 90%;
    }

    .input-left{
        padding-left: 0;
    }

    .label-margin-left{
        margin-left: 8px;
    }

    .btn-salvar{
        margin-top: 2rem;
    }

}
