<ion-header>
  <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Artistas</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let a of artistas | async">
      <ion-item>
        <ion-row>
          <ion-col col-3 class="align">
            <button class="btn" (click)="goToEdit(a)">
              <img *ngIf="a.foto" class="foto" src="{{a.foto}}" />
              <ion-icon class="icon" *ngIf="!a.foto" name="camera"></ion-icon> 
            </button> 
          </ion-col>
          <ion-col col-9>
              <div class="right">
                <img class="img" src="assets/ban_pais/{{a.pais.sigla}}.gif" /><br />
              </div>
              <h2>{{ a.nome }}</h2>
              <p class="color-txt">{{ a.atividade }}</p>
              <p class="color-txt">{{ a.nascimento | date:'dd/MM/yyyy' }}</p>
              <p class="color-txt">{{ a.pais.pais }}</p>
          </ion-col> 
        </ion-row>           
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="goToInsertArtista()" color="info" mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
